@model TeacherCreateViewModel
<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Teacher.FirstName" class="control-label"></label>
                <input asp-for="Teacher.FirstName" class="form-control" />
                <span asp-validation-for="Teacher.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.LastName" class="control-label"></label>
                <input asp-for="Teacher.LastName" class="form-control" />
                <span asp-validation-for="Teacher.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Patronymic" class="control-label"></label>
                <input asp-for="Teacher.Patronymic" class="form-control" />
                <span asp-validation-for="Teacher.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.SchoolId" class="control-label"></label>
                <select asp-for="Teacher.SchoolId" class="form-control" asp-items="@Model.Schools"></select>
            </div>
            @Html.EditorFor(model => model.Subjects)

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List" asp-route-id="@Model.SchoolId">Back to List</a>
</div>

